.nav_index {
    background-color: #534962;
}

body {
    background-image: url('../images/fondo.jpeg');
}

.image-card-different {
    height: 222px;
    width: 126px;
    position: relative;
    left: 150px;
    top: 97px;
}

.image-card {
    height: 222px;
    width: 126px;
    position: relative;
    left: 150px;
}


.footer_mid {
    background-color: #534962;
}

footer .container {
    color: white;
    padding-bottom: 0px;
}

footer a {
    color: white;
    font-family: arial;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

button {
    background: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Lato';
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background: orange;
  }

/*Medias query*/
@media only screen and (max-width: 600px) {
    .image-card {
        left: 115px;
    }
    .image-card-different{
        top:0px;
        left: 115px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .image-card {
        left: 117px;
    }
    .image-card-different{
        top:0px;
        left: 117px;
    }

    .texto{
        position: relative;
        top:0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .image-card {
        left: 55px;
    }
    .image-card-different{
        top:0px;
        left: 55px;
    }
    .texto{
        position: relative;
        top:0px;
    }
}

@media only screen and (min-width: 1200px) {
    .image-card {
        left: 150px;
    }

    .image-card-different{
        top:97px;
        left: 150px;
    }

    .texto{
        position: relative;
        top:80px;
    }
}